<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.mediatek.dmagent"
    platformBuildVersionCode="26"
    platformBuildVersionName="8.0.0">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:label="DMRemote service"
        android:persistent="true">
        <service android:name="com.mediatek.dmagent.DMRemoteServiceAgent"/>
        <receiver android:name="DMRemoteServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="26"/>
</manifest>
